<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584985850630-qnr2b171fsf4r1uiclm6h91scsorgq40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584985850630-qnr2b171fsf4r1uiclm6h91scsorgq40</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584985850630-79h0niebictbjvqtfb8qgghuar1j4dc6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGFXdQSsbgyPR2ulFeEzbIdEsdBoZriZc</string>
	<key>GCM_SENDER_ID</key>
	<string>584985850630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.letsbee.deliveryapp</string>
	<key>PROJECT_ID</key>
	<string>lets-bee-b26ac</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-bee-b26ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584985850630:ios:d258695ac4e77668ac2487</string>
	<key>DATABASE_URL</key>
	<string>https://lets-bee-b26ac.firebaseio.com</string>
</dict>
</plist>